@page
@model PhotoAlbum_MAGONCIA.Pages.SunkissedSummerModel
@{
    ViewData["Title"] = "Sunkissed Summer";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~css/bootstrap.css" rel="stylesheet"> <!--bootstrap-->
    <link href="https://fonts.cdnfonts.com/css/public-pixel" rel="stylesheet">
    <style>
        .myImages {
            max-width: 100%;
            height: auto;
        }

        .logo {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 20px;
            padding-top: 24px;
        }

        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 24px 36px;
            border-radius: 3px;
        }
    </style>
</head>
<body id="background">
    <main>
        <div class="logo">
            <img src="~/resources/images/league-of-legends-logo.png" style="width:30%" />
        </div>
        <div class="container" style="background-color: #060E1F">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3">
                <div class="container" style="background-color: #061E36; border-radius: 7px;">
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/Index" style="color: #C9AA71;">Albums></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/SunkissedSummer"
                                   style="text-align:center; color:lightgoldenrodyellow;text-shadow: 0 0 3px brown, 0 0 5px yellow; ">Sunkissed Summer
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/Cosmic" style="color: #C9AA71;">Cosmic</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/Coven" style="color: #C9AA71;">Coven</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/Highnoon" style="color: #C9AA71;">High Noon</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/Project" style="color: #C9AA71;">Project</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/Spiritblossom" style="color: #C9AA71;">Spirit Blossom</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/Porcelain" style="color: #C9AA71;">Porcelain</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/Bee" style="color: #C9AA71;">Bee</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="album" style="background-color: #061E36; padding-top:20px; border-radius: 7px;">
                <h1 style="text-align:center; color:lightgoldenrodyellow;text-shadow: 0 0 3px brown, 0 0 5px yellow; " id="#">SUNKISSED SUMMER / POOL PARTY</h1>
                <div class="container">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        <!--Renekton-->
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="~/Resources/Images/PoolParty/Renekton.jpg" alt="Renekton" id="myImg" class="myImages" alt="Ai" width="100%" height="225" />
                                <div class="card-body">
                                    <p style="text-align:center;">Pool Party Renekton</p>
                                    <p class="desc">Lifeguard on duty! Seriously though, be careful—you don't want CPR from a nine foot tall crocodile man.</p>
                                </div>
                            </div>
                        </div>
                        <!--Taric-->
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="~/Resources/Images/PoolParty/Taric.jpg" alt="Taric" id="myImg" class="myImages" alt="Ai" width="100%" height="225" />
                                <div class="card-body">
                                    <p style="text-align:center;">Pool Party Taric</p>
                                    <p class="desc">Always on the alert, Taric will run in cinematic slow motion to save any swimmer in distress. Although, Taric has failed to save a distressing number of them. </p>
                                </div>
                            </div>
                        </div>
                        <!--Braum-->
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="~/Resources/Images/PoolParty/Braum.jpg" alt="Braum" id="myImg" class="myImages" alt="Ai" width="100%" height="225" />
                                <div class="card-body">
                                    <p style="text-align:center;">Pool Party Braum</p>
                                    <p class="desc">Braum's tiki lemonades are a lot like him—tall, sweet, and very popular with poros. Even the Boss is willing to wait his turn to get a glass!</p>
                                </div>
                            </div>
                        </div>
                        <!--Caitlyn-->
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="~/Resources/Images/PoolParty/Caitlyn.jpg" alt="Caitlyn" id="myImg" class="myImages" alt="Ai" width="100%" height="225" />
                                <div class="card-body">
                                    <p style="text-align:center;">Pool Party Caitlyn</p>
                                    <p class="desc">For Caitlyn, nothing says a perfect summer's day like lounging at a luxurious poolside, eating shaved ice and drinking tropical libations. And shooting people. She really loves shooting people.</p>
                                </div>
                            </div>
                        </div>
                        <!--Draven-->
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="~/Resources/Images/PoolParty/Draven.jpg" alt="Draven" id="myImg" class="myImages" alt="Ai" width="100%" height="225" />
                                <div class="card-body">
                                    <p style="text-align:center;">Pool Party Draven</p>
                                    <p class="desc">Let's Party</p>
                                </div>
                            </div>
                        </div>
                        <!--Fiora-->
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="~/Resources/Images/PoolParty/Fiora.jpg" alt="Fiora" id="myImg" class="myImages" alt="Ai" width="100%" height="225" />
                                <div class="card-body">
                                    <p style="text-align:center;">Pool Party Fiora</p>
                                    <p class="desc">Fiora can stop a pool party dead in its tracks and she knows it. What she truly longs for is a worthy opponent—but alas, some people are just too good at crushing the party scene. </p>
                                </div>
                            </div>
                        </div>
                        <!--Gangplank-->
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="~/Resources/Images/PoolParty/Gangplank.jpg" alt="Gangplank" id="myImg" class="myImages" alt="Ai" width="100%" height="225" />
                                <div class="card-body">
                                    <p style="text-align:center;">Pool Party Gangplank</p>
                                    <p class="desc">Gangplank is the self-crowned King of the Grill, but his summer bod is the real life of the party. There should be a law against those abs.</p>
                                </div>
                            </div>
                        </div>
                        <!--Graves-->
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="~/Resources/Images/PoolParty/Graves.jpg" alt="Graves" id="myImg" class="myImages" alt="Ai" width="100%" height="225" />
                                <div class="card-body">
                                    <p style="text-align:center;">Pool Party Graves</p>
                                    <p class="desc">Pool Party Graves is one of Graves's 10 skins</p>
                                </div>
                            </div>
                        </div>
                        <!--Heimerdinger-->
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="~/Resources/Images/PoolParty/Heimerdinger.jpg" alt="Heimerdinger" id="myImg" class="myImages" alt="Ai" width="100%" height="225" />
                                <div class="card-body">
                                    <p style="text-align:center;">Pool Party Heimerdinger</p>
                                    <p class="desc">Through the combination of precise schematics and top-of-the-line construction tools, Heimerdinger's next sand castle creation will be his grandest iteration yet! Assuming Syndra doesn't land on it again… </p>
                                </div>
                            </div>
                        </div>
                        <!--Jarvan IV-->
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="~/Resources/Images/PoolParty/Jarvan.jpg" alt="Jarvan IV" id="myImg" class="myImages" alt="Ai" width="100%" height="225" />
                                <div class="card-body">
                                    <p style="text-align:center;">Pool Party Jarvan IV</p>
                                    <p class="desc">For Jarvan, there's nothing more relaxing than hanging out at the beach. No kingdoms to run, no thrones to sit on (save for his favorite beach chair), just the sound of the waves and, if he listens closely, the faint whistle of a volleyball being spiked directly at him...</p>
                                </div>
                            </div>
                        </div>
                        <!--Lee Sin-->
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="~/Resources/Images/PoolParty/LeeSin.jpg" alt="Lee Sin" id="myImg" class="myImages" alt="Ai" width="100%" height="225" />
                                <div class="card-body">
                                    <p style="text-align:center">Pool Party Lee Sin</p>
                                    <p class="desc">Lee Sin loves the feeling of the sand between his toes, the sound of the crashing waves, and the warm sun against his skin. He also loves a strong coconut drink. Lee Sin likes to party.</p>
                                </div>
                            </div>
                        </div>
                        <!--Leona-->
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="~/Resources/Images/PoolParty/Leona.jpg" alt="Leona" id="myImg" class="myImages" alt="Ai" width="100%" height="225" />
                                <div class="card-body">
                                    <p style="text-align:center;">Pool Party Leona</p>
                                    <p class="desc">Leona is a former champion surfer, who enjoys spending her downtime relaxing on the beach with a light romance novel. Or pretty much any romance novel, in fact.</p>
                                </div>
                            </div>
                        </div>
                        <!--Miss Fortune-->
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="~/Resources/Images/PoolParty/MF.jpg" alt="Miss Fortune" id="myImg" class="myImages" alt="Ai" width="100%" height="225" />
                                <div class="card-body">
                                    <p style="text-align:center;">Pool Party Miss Fortune</p>
                                    <p class="desc">The group's appointed selfie queen, and dual-wielding master of the water pistol, Sarah Fortune can destroy all comers in a splash fight, and look good while doing it. The photo she'll post later will look even better. It's actually kind of upsetting.</p>
                                </div>
                            </div>
                        </div>
                        <!--Orianna-->
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="~/Resources/Images/PoolParty/Orianna.jpg" alt="Orianna" id="myImg" class="myImages" alt="Ai" width="100%" height="225" />
                                <div class="card-body">
                                    <p style="text-align:center;">Pool Party Orianna</p>
                                    <p class="desc">With her latest outfit, Orianna is finally able to submerge completely in aquatic biomes. This brings her great joy, as a day at the beach previously required subsequent weeks of scrubbing salt, sand, and sometimes an angry crab out of her gears.</p>
                                </div>
                            </div>
                        </div>
                        <!--Sett-->
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="~/Resources/Images/PoolParty/Sett.jpg" alt="Sett" id="myImg" class="myImages" alt="Ai" width="100%" height="225" />
                                <div class="card-body">
                                    <p style="text-align:center;">Pool Party Sett</p>
                                    <p class="desc">Braum's tropical drinks are a favorite of Sett's—the sweeter the taste and the bigger the flowers, the better! Anyone who has a problem with that can take it up with the Boss. He'll call the Lifeguard for you.</p>
                                </div>
                            </div>
                        </div>
                        <!--Singed-->
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="~/Resources/Images/PoolParty/Singed.jpg" alt="Singed" id="myImg" class="myImages" alt="Ai" width="100%" height="225" />
                                <div class="card-body">
                                    <p style="text-align:center;">Surfer Singed</p>
                                    <p class="desc">Sure, the haircut is dated, and the off-brand sunscreen is a little dodgy, but Singed held out on the Tiki mug—and look what came roaring back into fashion! The man is a visionary. </p>
                                </div>
                            </div>
                        </div>
                        <!--Syndra-->
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="~/Resources/Images/PoolParty/Syndra.jpg" alt="Syndra" id="myImg" class="myImages" alt="Ai" width="100%" height="225" />
                                <div class="card-body">
                                    <p style="text-align:center;">Pool Party Syndra</p>
                                    <p class="desc">Now that Syndra's aced all her opponents, it's time for her final test: prevent any rogue volleyballs from hitting her friends. Again.</p>
                                </div>
                            </div>
                        </div>
                        <!--Taliyah-->
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="~/Resources/Images/PoolParty/Taliyah.jpg" alt="Taliyah" id="myImg" class="myImages" alt="Ai" width="100%" height="225" />
                                <div class="card-body">
                                    <p style="text-align:center;">Pool Party Taliyah</p>
                                    <p class="desc">Taliyah once attempted to describe surfboarding to a perplexed Jarvan, using such terms as “get pitted”, “tubular”, and “ride the barrel”. She's pretty sure he still has no idea what she was talking about. </p>
                                </div>
                            </div>
                        </div>
                        <!--Ziggs-->
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="~/Resources/Images/PoolParty/Ziggs.jpg" alt="Ziggs" id="myImg" class="myImages" alt="Ai" width="100%" height="225" />
                                <div class="card-body">
                                    <p style="text-align:center;">Pool Party Ziggs</p>
                                    <p class="desc">Ziggs is obsessed with creating the biggest water balloon in the history of poolside festivities, for reasons lost on everyone he's ever met. He keeps insisting he's a 'waterologist,' which isn't a real thing.</p>
                                </div>
                            </div>
                        </div>
                        <!--Zoe-->
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="~/Resources/Images/PoolParty/Zoe.jpg" alt="Zoe" id="myImg" class="myImages" alt="Ai" width="100%" height="225" />
                                <div class="card-body">
                                    <p style="text-align:center;">Pool Party Zoe</p>
                                    <p class="desc">Who let this ageless, cosmic child in here unattended? This a public pool, not some sort of ageless, cosmic daycare. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- The Modal -->
        <div id="myModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="img01">
            <div id="caption"></div>
        </div>

        <script>
            // create references to the modal...
            var modal = document.getElementById('myModal');
            // to all images -- note I'm using a class!
            var images = document.getElementsByClassName('myImages');
            // the image in the modal
            var modalImg = document.getElementById("img01");
            // and the caption in the modal
            var captionText = document.getElementById("caption");

            // Go through all of the images with our custom class
            for (var i = 0; i < images.length; i++) {
                var img = images[i];
                // and attach our click listener for this image.
                img.onclick = function (evt) {
                    modal.style.display = "block";
                    modalImg.src = this.src;
                    captionText.innerHTML = this.alt;
                }
            }

            var span = document.getElementsByClassName("close")[0];

            span.onclick = function () {
                modal.style.display = "none";
            }
            /* Dark mode script */
            function myFunction() {
                var element = document.body;
                element.classList.toggle("dark-mode");
            }
        </script>

    </main>

</body>
</html>


